// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}

// Font Mixins
@mixin paragraph-font {
  font-family: 'Roboto', sans-serif;
}

@mixin heading-font {
  font-family: 'Rubik', sans-serif;
}
